# Introduction to Programming  
## Course Code: 1312CCS-3  
## Lab 02 — Application of Variables and Operators



## Objectives
By the end of this lab, you should be able to:
1. Create variables and use them to store various data values
2. Use `type()` to know the data type of variables, and modify it using typecasting
3. Use Arithmetic operators
4. Use Logical operators
5. Use Bitwise operators

## Notes
- Run each code cell using **Shift + Enter**
- Read the explanation, then run the examples
- Solve the exercises in the provided cells

## A) Variables

**Variables** are containers for storing data values (named memory locations).

In Python:
- There is no command needed to declare a variable.
- A variable is created when you assign a value to it for the first time.

In [ ]:
# Example: Creating Variables


print(x)
print(y)

5
John

## B) Getting the Data Type (`type()`)

You can get the data type of a variable using the `type()` function.

In [ ]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## C) Casting (Typecasting)

If you want to change the data type of a variable, you can do it using casting.
Common casting functions:
- `str()`
- `int()`
- `float()`

In [ ]:
x = str(3)    # '3'
y = int(3)    # 3
z = float(3)  # 3.0

print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

## D) Operators

Operators are used to perform operations on values and variables.
Python supports multiple types of operators, including:
- Arithmetic Operators
- Assignment Operators
- Relational/Comparison Operators
- Logical Operators
- Bitwise Operators
- Identity Operators
- Membership Operators

## E) Arithmetic Operators

Arithmetic operators are used for mathematical operations like:
- addition (+)
- subtraction (-)
- multiplication (*)
- division (/)
- exponent (**)
- modulus (%)
- floor division (//)

In [ ]:
print("1 + 4 =", 1 + 4)
print("10 - 5 =", 10 - 5)
print("5 * 2 =", 5 * 2)
print("10 / 2 =", 10 / 2)
print("2 ** 3 =", 2 ** 3)
print("15 % 4 =", 15 % 4)
print("17 // 5 =", 17 // 5)

1 + 4 = 5
10 - 5 = 5
5 * 2 = 10
10 / 2 = 5.0
2 ** 3 = 8
15 % 4 = 3
17 // 5 = 3

## Logical Operators

Logical operators are used to combine conditional statements.

| Operator | Name | Description |
|--------|------|-------------|
| `and` | Logical AND | Returns True if **both** conditions are True |
| `or`  | Logical OR  | Returns True if **at least one** condition is True |
| `not` | Logical NOT | Reverses the result (True → False, False → True) |

In [ ]:
# Logical AND
print((8 > 9) and (2 < 9))
print((9 > 8) and (2 < 9))

# Logical OR
print((2 == 2) or (9 < 20))
print((3 != 3) or (9 > 20))

# Logical NOT
print(not (8 > 2))
print(not (2 > 10))

False
True
True
False
False
True

## Bitwise Operators

Bitwise operators work on **binary representations** of numbers and perform operations **bit by bit**.

Assume:
- `a = 10` → `1010`
- `b = 4`  → `0100`

| Operator | Name | Description |
|--------|------|-------------|
| `&` | AND | Sets each bit to 1 if both bits are 1 |
| `|` | OR | Sets each bit to 1 if one of the bits is 1 |
| `^` | XOR | Sets each bit to 1 if only one bit is 1 |
| `~` | NOT | Inverts all bits |
| `<<` | Left Shift | Shifts bits to the left |
| `>>` | Right Shift | Shifts bits to the right |

In [ ]:
a = 10
b = 4

print("a & b =", a & b)
print("a | b =", a | b)
print("~a =", ~a)
print("a ^ b =", a ^ b)
print("a >> 2 =", a >> 2)
print("a << 2 =", a << 2)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14
a >> 2 = 2
a << 2 = 40

## Lab Exercises — Practice Section

### Instructions to Students
- For **every program**, first check the **data type of input variables** using the `type()` function.
- Use the **same input and output format** as shown in each exercise.
- Write clear and readable code.

### Exercise 1: Dollar to Saudi Riyal Conversion

Write a Python program to convert U.S. dollars into Saudi riyal.

Assume:
1 USD = 3.75 SAR

#### Example Input
Enter amount in USD:  
100

#### Example Output
Equivalent amount in SAR:  
375.0

In [ ]:
### Student Code

## Write your answer here

### Exercise 2

Write a Python program to convert bits into Megabytes, Gigabytes, and Terabytes.

#### Example Input
Enter number of bits:  
1048576

#### Example Output
Megabytes: 0.125  
Gigabytes: 0.0001220703125  
Terabytes: 1.1920928955078125e-07

In [ ]:
### Student Code

## Write your answer here

### Exercise 3

Write a Python program to find the square root of a number.

#### Example Input
Enter a number:  
25

#### Example Output
Square root:  
5.0

In [ ]:
### Student Code

## Write your answer here

### Exercise 4

Write a Python program to find the area of a rectangle.

#### Example Input
Enter length:  
10  
Enter width:  
5

#### Example Output
Area of rectangle:  
50.0

In [ ]:
### Student Code

## Write your answer here

### Exercise 5

Write a Python program to calculate the area and perimeter of a square.

#### Example Input
Enter side length:  
4

#### Example Output
Area:  
16.0  
Perimeter:  
16.0

##Note: area_square = side * side
##perimeter = 4 * side

In [ ]:
### Student Code

## Write your answer here

### Exercise 6

Write a Python program to calculate the volume and surface area of a cylinder.

#### Example Input
Enter radius:  
3  
Enter height:  
5

#### Example Output
Volume:  
141.37  
Surface Area:  
150.8

In [ ]:
### Student Code

## Write your answer here

### Exercise 7

Write a Python program to swap the values of two variables.

#### Example Input
Enter value of A:  
10  
Enter value of B:  
20

#### Example Output
Before swapping:  
A = 10, B = 20  

After swapping:  
A = 20, B = 10

In [ ]:
### Student Code

## Write your answer here

### Exercise 8

Write a Python program to read a four-digit number and calculate the sum of its digits.

#### Example Input
Enter a four-digit number:  
1234

#### Example Output
Sum of digits:  
10



###Note:Perimeter of a square =s+s+s+s=4×s=4s

###Note:Area of a square =s×s=s2

In [ ]:
sum=0
num=int(input("Enter number:""))
rem=num
count=4
while(count>0):
  d=rem%10
  sum=sum+d
  rem=rem/10
  count-=1
print("sum:",sum)

### Exercise 9

Write a Python program to evaluate the following expressions.

| **Expression**            | **Result** |
|---------------------------|------------|
| 40 / 8                    |            |
| 40 // 8                   |            |
| 50 % 5                    |            |
| 3 % 2                     |            |
| 3 ** 3                    |            |
| X += 10  (Assume X = 4)   |            |
| X *= 6   (Assume X = 4)   |            |
| X = X << 2 (Assume X = 4)|            |
| X = X >> 2 (Assume X = 4)|            |
| X = X << 3 (Assume X = 4)|            |

In [ ]:
### Student Code

## Write your answer here